#insuredRule {
  display: none !important;
}

#bannerImage {
  display: none !important; 
}

#avatarImage {
  display: none !important; 
}

.button-row {
  display: flex;
  // justify-content: space-between;
}