<kt-portlet>

	<kt-portlet-header [title]="'Transaction History'" [class]="'kt-portlet__head--lg'"></kt-portlet-header> 

	<kt-portlet-body>

		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8"
				#table
				[dataSource]="dataSource"
				matSortActive="id"
				matSortDirection="asc"
				matSortDisableClear>

        <ng-container *ngFor="let item of displayedColumnsBinding" matColumnDef="{{item.matColumnDef}}">
          <mat-header-cell *matHeaderCellDef>{{item.header}}</mat-header-cell>
          <mat-cell *matCellDef="let user">{{user[item.matColumnDef]}}</mat-cell>
				</ng-container>
				
				<ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let user">
            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(user.transactionStatus) }} kt-badge--wide">{{ user.transactionStatus }}</span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>

		</div>

		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="loading$"></mat-spinner>
			<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [length]="dataLength" [showFirstLastButtons]="true"  (page)="onPaginate($event)"></mat-paginator>
		</div>
	</kt-portlet-body>
</kt-portlet>
